<h5>
  <%= form_tag url: root_path do %>
    <%= select("group", "size", [2,4,7], {})%>
    <%= submit_tag "Create Group", class: "btn btn-info" %>
  <% end %>
</h5>

<hr>

<% @random_groups.each do |random_group| %>
  <%= random_group  %>
  <hr>
<% end %>

Pull test
